.section {
	display: flex;
	align-items: center;
	padding: 10px;
	gap: 15px;
	position: relative;
	cursor: pointer;
}

.favorite {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 50px;
}

.image {
	object-fit: cover;
	border-radius: 10px;
}

.name {
	color: var(--color-text);
}

.subname {
	color: var(--color-text);
	font-size: 20px;
}

.price {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

.allergens {
	display: flex;
	list-style: none;
	gap: 4px;
	margin-top: 6px;
	font-size: 20px;
}

.addButton {
	margin-left: auto;
	background-color: var(--color-main);
	padding: 10px 30px;
	white-space: nowrap;
	border-radius: 10px;
	cursor: pointer;
	color: var(--color-text);
	font-size: 24px;
	font-weight: bold;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: transform 0.3s;
}

.addButton:hover {
	transform: scale(1.2);
}
