.cart {
	font-size: 100px;
	position: absolute;
	top: 30px;
	right: 50px;
	background-color: transparent;
	cursor: pointer;
	transition: filter 0.3s;
}

.cart:hover {
	filter: drop-shadow(0 0 6px var(--color-accent));
}

.cartWrapper {
	display: relative;
}

.cartBadge {
	color: white;
	font-weight: bolder;
	font-size: 20px;
}

.cartBadgeWrapper {
	position: absolute;
	top: 36px;
	right: 36px;
	width: 30px;
	height: 30px;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.invoice {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 20px;
	border-radius: 10px;
	background-color: var(--color-main);
	color: var(--color-text);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.invoiceTitle {
	font-size: 24px;
}

.itemList {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.item {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	font-size: 18px;
}

.itemPrice {
	white-space: nowrap;
	font-weight: bold;
}

.empty {
	font-size: 18px;
}

.divider {
	border: none;
	border-top: 2px solid var(--color-accent);
}

.total {
	display: flex;
	justify-content: space-between;
	font-size: 22px;
	font-weight: bold;
}
