.languageSelector {
	position: absolute;
	top: 30px;
	right: 30px;
}

.languageList {
	list-style: none;
	display: flex;
	gap: 20px;
}

.languageButton {
	background-color: var(--color-main);
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 24px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.languageButton:hover {
	background-color: var(--color-accent);
}

@media (max-width: 800px) {
	.languageSelector {
		position: relative;
		top: 30px;
		left: 0;
		display: flex;
		justify-content: center;
	}
}
