::-webkit-scrollbar {
	display: none;
}

:root {
	--color-background: rgb(241, 226, 194);
	--color-accent: rgb(175, 102, 69);
	--color-main: rgb(207, 176, 137);
	--color-text: rgb(72, 56, 52);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Pretendard, sans-serif;
}

body {
	background-color: var(--color-background);
	height: 100vh;
}

button {
	border: none;
}
