.main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 30px;
	gap: 20px;
}

.logo {
	width: 150px;
	height: auto;
	display: block;
}

.link {
	margin: 0 auto;
}

.horizontalLine {
	border: none;
	border-top: 2px solid var(--color-accent);
}

.body {
	display: grid;
	grid-template-columns: 300px 1fr;
	gap: 20px;
}

.category {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.categoryButton {
	background-color: var(--color-main);
	padding: 10px 0;
	border-radius: 10px;
	color: var(--color-text);
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.categoryButton:hover {
	background-color: var(--color-accent);
}

.categoryTitle {
	font-size: 24px;
}

.categorySubtitle {
	font-size: 20px;
}

.active {
	background-color: var(--color-accent);
	cursor: default;
}

.menu {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.cart {
	font-size: 100px;
	position: absolute;
	top: 30px;
	right: 50px;
	background-color: transparent;
	cursor: pointer;
	transition: filter 0.3s;
}

.cart:hover {
	filter: drop-shadow(0 0 6px var(--color-accent));
}

.cartWrapper {
	display: relative;
}

.cartBadge {
	color: white;
	font-weight: bolder;
	font-size: 20px;
}

.cartBadgeWrapper {
	position: absolute;
	top: 36px;
	right: 36px;
	width: 30px;
	height: 30px;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
