.section {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 30px;
	gap: 40px;
}

.logo {
	width: 150px;
	height: auto;
	display: block;
}

.link {
	margin: 0 auto;
}

.horizontalLine {
	border: none;
	border-top: 2px solid var(--color-accent);
}

.grid {
	grid: 1fr 300px;
}

.body {
	display: flex;
	flex-direction: column;
}

.filterList {
	list-style: none;
	display: flex;
	gap: 20px;
}

.filterButton {
	background-color: var(--color-main);
	padding: 10px 20px;
	color: var(--color-text);
	font-size: 24px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.filterButton:hover {
	background-color: var(--color-accent);
}

.active {
	background-color: var(--color-accent);
	cursor: default;
}
